<body>
    <main>
        <div class="container">
            <!-- Can load full size image on large screen with this line & disable 21-23
                <img src="./assets/file.png" id="homeBG" alt="Lights" style="width:100%"> -->

            <source media="(min-width: 950px)" id="homeBG" style="width:100%" srcset="./Keep-Dreaming-logo.png">
            <img src="./Keep-Dreaming-logo.png" alt="Keep Dreaming Travel App">
            <div id="questions">
                <h4>{{Questions and results will display here...}}</h4>
                <ul id="answers" class="list-unstyled">
                    <li class="answerChoice">{{0}}</li>
                    <li class="answerChoice">{{1}} </li>
                    <li class="answerChoice">{{2}}</li>
                    <li class="answerChoice">{{3}} </li>
                    <li class="answerChoice">{{4}}</li>
                    <li class="answerChoice">{{5}} </li>
                </ul>
            </div>
        </div>

        </p>
        <br>

    </main>